.content {
  font-size 30px
}

.img-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-item {
    width: calc(50% - 20px);
}

.grid-item-full {
    width: 100%;
}

.grid-item p{
  font-size: 15px;
  color: #616161;
  margin-top: 0px;
  margin-bottom: 30px;
}

.item-divide {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 16px;
}

.divide-gn {
    background: #4caf50;
}

.divide-rd {
    background: #d32f2f;
}

.divide-og {
    background: #f9a825;
}

.item-title {
    padding: 5px 0;
}

.title-gn {
    color: #4caf50;
    font-weight: 500;
}

.title-rd {
    color: #d32f2f;
    font-weight: 500;

}

.title-og {
    color: #bf5900;
    font-weight: 500;

}

.annotation{
  font-size: 15px;
  color: #616161;
  margin-top: 0px;
  margin-bottom: 30px;
}

.number-list{
    list-style-type: decimal;
}